In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.2.4'

http://pandas.pydata.org/

Pandas es la extensión logica de numpy al mundo del Análisis de datos. 

De forma muy general, Pandas extrae la figura del Dataframe conocida por aquellos que usan R a python.

Un pandas dataframe es una tabla, lo que es una hoja de excel, con filas y columnas.

En pandas cada columna es una Serie que esta definida con un numpy array por debajo.

# Creacion

pandas puede leer archivos de muchos tipos, csv, json, excel entre otros

In [4]:
rick_morty = pd.DataFrame(
    {
        "nombre": ["Rick", "Morty"],
        "apellido": ["Sanchez", "Smith"],
        "edad": [60, 14],
    }
)

rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [5]:
rick_morty = pd.DataFrame(
    [
        ["Rick", "Sanchez", 60],
        ["Morty", "Smith", 14]
    ], columns = ["nombre", "apellido", "edad"]
)
rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [6]:
type(rick_morty.nombre)

pandas.core.series.Series

In [7]:
!head -n 5 "primary_results.csv"

state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.8
Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.32899999999999996
Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647

In [8]:
votos_primarias_us = pd.read_csv("primary_results.csv")

por convención cuando se analiza un solo dataframe se suele llamar df

In [9]:
df = votos_primarias_us

# Exploración

`shape` nos devuelve el número de filas y columnas

In [10]:
df.shape

(24611, 8)

In [11]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [12]:
df.tail()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.0
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.0
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [13]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [14]:
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

# Seleccion

In [15]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

La columna a la izquierda del state es el index. Un dataframe tiene que tener un index, que es la manera de organizar los datos.

In [16]:
df.index

RangeIndex(start=0, stop=24611, step=1)

podemos seleccionar una fila mediante su index.

In [17]:
df.loc[0]

state                        Alabama
state_abbreviation                AL
county                       Autauga
fips                          1001.0
party                       Democrat
candidate             Bernie Sanders
votes                            544
fraction_votes                 0.182
Name: 0, dtype: object

Importante, df.loc selecciona por indice, no por posición. Podemos cambiar el indice a cualquier otra cosa, otra columna o una lista separada, siempre que el nuevo indice tenga la misma longitud que el Dataframe

In [18]:
df2 = df.set_index("county")

In [19]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

In [20]:
df2.index

Index(['Autauga', 'Autauga', 'Baldwin', 'Baldwin', 'Barbour', 'Barbour',
       'Bibb', 'Bibb', 'Blount', 'Blount',
       ...
       'Sweetwater-Carbon', 'Sweetwater-Carbon', 'Teton-Sublette',
       'Teton-Sublette', 'Teton-Sublette', 'Teton-Sublette', 'Uinta-Lincoln',
       'Uinta-Lincoln', 'Uinta-Lincoln', 'Uinta-Lincoln'],
      dtype='object', name='county', length=24611)

Esto va a fallar por que df2 no tiene un indice numérico.

In [21]:
df2.loc[0]

KeyError: 0

Ahora podemos seleccionar por condado

In [22]:
df2.loc["Los Angeles"]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Los Angeles,California,CA,6037.0,Democrat,Bernie Sanders,434656,0.420
Los Angeles,California,CA,6037.0,Democrat,Hillary Clinton,590502,0.570
Los Angeles,California,CA,6037.0,Republican,Donald Trump,179130,0.698
Los Angeles,California,CA,6037.0,Republican,John Kasich,33559,0.131
Los Angeles,California,CA,6037.0,Republican,Ted Cruz,30775,0.120

Si queremos seleccionar por el numero de fila independientemente del índice, podemos usar `iloc`

In [23]:
df2.iloc[0]

state                        Alabama
state_abbreviation                AL
fips                          1001.0
party                       Democrat
candidate             Bernie Sanders
votes                            544
fraction_votes                 0.182
Name: Autauga, dtype: object

Seleccionamos una columna mediante '[]' como si el dataframe fuese un diccionario

In [24]:
df["state"][:10]

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
5    Alabama
6    Alabama
7    Alabama
8    Alabama
9    Alabama
Name: state, dtype: object

si la columna tiene sintaxis  valida (sin espacios), se puede acceder como atributo siempre y cuando dicho atributo no exista en el dataframe

In [25]:
df.state[:10]

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
5    Alabama
6    Alabama
7    Alabama
8    Alabama
9    Alabama
Name: state, dtype: object

por ejemplo, si creamos una columna nueva de nombre `shape` (que ya es un atributo del dataframe), solo podemos acceder a dicha columna como si fuese un diccionario

In [26]:
df["shape"] = 1
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1

In [27]:
df.shape

(24611, 9)

Si seleccionamos una columna, obtenemos una Serie, si seleccionamos dos o más, obtenemos un dataframe.

In [28]:
type(df['county'])

pandas.core.series.Series

In [29]:
type(df[["county", "candidate"]])

pandas.core.frame.DataFrame

Podemos filtrar un dataframe de la misma forma que filtramos en numpy

In [30]:
df[df.votes>=590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57,1

podemos concatenar varias condiciones usando `&`

In [31]:
df[(df.county=="Manhattan") & (df.party=="Democrat")]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1

alternativamente podemos usar el método `query`

In [32]:
df.query("county=='Manhattan' and party=='Democrat'")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1

In [33]:
county = 'Manhattan'
df.query("county==@county and party=='Democrat'")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1

# Procesado

podemos usar `sort_values` para orderar el dataframe acorde al valor de una columna

In [34]:
df_sorted = df.sort_values(by="votes", ascending=False)
df_sorted.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570,1
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420,1
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,1
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,1
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536,1

In [35]:
df.groupby(["state", "party"])

In [36]:
df.groupby(["state", "party"])["votes"].sum()

state          party
Alabama        Democrat       386327
               Republican     837632
Alaska         Democrat          539
               Republican      21930
Arizona        Democrat       399097
                              ...
West Virginia  Republican     188138
Wisconsin      Democrat      1000703
               Republican    1072699
Wyoming        Democrat          280
               Republican        903
Name: votes, Length: 95, dtype: int64

podemos usar `apply` en una columna para obtener una nueva columna en función de sus valores

In [37]:
df['letra_inicial'] = df.state_abbreviation.apply(lambda s: s[0])

In [38]:
df.groupby("letra_inicial")["votes"].sum().sort_values()

letra_inicial
H      46886
D     160416
R     179594
U     254203
L     585781
K     760181
S    1225289
V    1984632
G    2032941
A    2686599
W    3010087
P    3176340
F    3940929
O    4904270
T    5348465
C    5590683
I    5657521
N    7329864
M    7884506
Name: votes, dtype: int64

Podemos unir dos dataframes en funcion de sus columnas comunes usando `merge`

In [39]:
# Descargamos datos de pobreza por condado en US en https://www.ers.usda.gov/data-products/county-level-data-sets/county-level-data-sets-download-data/
df_pobreza = pd.read_csv("PovertyEstimates.csv")

In [40]:
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [41]:
df = df.merge(df_pobreza, left_on="fips", right_on="FIPStxt")
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape,letra_inicial,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,A,1001,12.7

In [42]:
county_votes = df.groupby(["county","party"]).agg({
    "fraction_votes":"mean",
    "PCTPOVALL_2015": "mean"   
   }
)
county_votes

                      fraction_votes  PCTPOVALL_2015
county    party
Abbeville Democrat          0.494000            19.1
          Republican        0.166667            19.1
Acadia    Democrat          0.425500            23.7
          Republican        0.241750            23.7
Accomack  Democrat          0.497000            20.4
...                              ...             ...
Zapata    Republican        0.188400            30.9
Zavala    Democrat          0.468000            32.0
          Republican        0.000000            32.0
Ziebach   Democrat          0.500000            47.1
          Republican        0.333333            47.1

[3267 rows x 2 columns]

# Exportar

podemos escribir a excel, 

<div class="alert alert-block alert-alert">
<b>ACTUALIZACION Mayo 2021</b> En general es mejor exportar a formato xlsx en vez de xls (que es el formato antiguo de Microsoft Excel).
</div>

Si ves este error,

``` FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  rick_morty.to_excel("rick_y_morty.xls", sheet_name="personajes")
```

reemplaza el nombre `"rick_y_morty.xls"` por `"rick_y_morty.xlsx"`

**para exportar a la version xlsx de excel (version actual, la version xls es una version antigua) se recomienda tener el paquete `openpyxl` instalado en vez de `xlwt`)**

In [7]:
rick_morty.to_excel("rick_y_morty.xlsx", sheet_name="personajes")

podemos leer de excel, necesitamos el paquete `xlrd`

<div class="alert alert-block alert-warning">
<b>ACTUALIZACION Mayo 2021:</b> "sheetname" fue reemplazado por "sheet_name"
</div>

In [10]:
rick_morty2 = pd.read_excel("rick_y_morty.xlsx", sheet_name="personajes")

In [11]:
rick_morty2.head()

   Unnamed: 0 nombre apellido  edad
0           0   Rick  Sanchez    60
1           1  Morty    Smith    14